body {

    background-color: $creamy-white;
    color: $super-brown;
    font-family: $title-font;

    p, .btn {
        font-family: $light-font;
    }

    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            color: inherit;
        }
    }

    .hamburgericon {
        height: 1.2em;
        fill: $super-brown;
        margin-top: 0;
        margin-bottom: .5rem;
    }

    .nav-panel {
        background-color: transparent;
        box-sizing: border-box;
        width: calc(100% - 1%);
        top: 0.5%;
        left: 0.5%;
        position: fixed;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: 300ms ease;
        &.scrolled {
            background-color: rgba($creamy-white, 0.93);
            transition: 300ms ease;
        }

        .navbar {
            width: $FBI-max-width;
            max-width: 100%;
            .nav-link {
                color: inherit;
                &.disabled {
                    color: rgba($super-brown, 0.5);
                }
            }
        }


    }


    .FBI-max-width {
        max-width: $FBI-max-width;
    }


    footer {
        background-color: $super-brown;
        color: $creamy-white;
        $footer-orange: lighten($earth-orange, 12%);
        p {
            color: $footer-orange;
            a{
                color: $footer-orange;
            }
        }
        .btn {
            background: $sky-yellow;
            color: $super-brown;
            width: 150px;
        }
        .footericon {
            font-size: 1rem;
        }
    }
    

}