// variables


// Logo colours
$purple: rgb(63, 0, 56);
$yellow: rgb(255, 236, 0);

$pink: rgb(194, 29, 125);
//$yellow: rgb(241, 208, 19);
$orange: rgb(240, 160, 11);
//$purple: rgb(113, 81, 139);
$darkpurple: darken($purple, 5%);
$footer-height: 100px;
$page-font: 'Urbanist', sans-serif;


html {
    padding: 0;
    body {
        margin: 0;
        padding-bottom: $footer-height;
        position: relative;
        min-height: 100vh;
        background-image: url('../../images/pastel_flowers.jpeg');
        background-repeat: repeat;
        background-size: 40%;
        background-attachment: fixed;
        color: $darkpurple;
        font-family: 'Urbanist', sans-serif;
        font-weight: 400;
        font-size: 18px;
        .container-fluid {
            margin-bottom: 50px;
        }
    }
    main {
        padding-top: 32vw;
        width: 100%;
        max-width: 1000px;
        margin: auto;
        @media only screen and (max-width: 662px) {
            padding-top: 60vw;
        }

    }
}

.flowers {
    width: 60%;
    position: fixed;
    left: -7%;
    top: -6%;
    z-index: 2;
    @media only screen and (max-width: 662px) {
        top: -2%;
        left: 0;

    }

}


.head {

    background: url('../../images/Anne-Sofie-visitkort.jpg') rgba(255, 255, 255, 0.3);
    //background-blend-mode: lighten;
    height: 42vw;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media only screen and (max-width: 662px) {
        height: 70vw;

    }

    .titlebox {
        background-color: rgba(255, 255, 255, 0.6);
        height: 100%;
        width: 56%;
        margin-right: 0;
        padding: 20px;
        display: flex;
        clip-path: polygon(32% 0, 100% 0, 100% 100%, 0% 100%);

        &.purple {
            background-color: rgba($purple, 0.88);
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                margin-left: 30%;
                margin-right: 15%;
                margin-top: 13%;
            }
        }


        .title-content {
            margin: auto;
            width: 100%;
        }
        .zirkus {
            color: $pink;
            font-family: -webkit-pictograph;
            font-size: 69px;
            font-weight: 900;
            line-height: 21px;
        }
        .revsbech {
            color: $yellow;
            font-size: 40px;
            font-family: cursive;
            
        }
        @media only screen and (max-width: 662px) {
            .zirkus {
                font-size: 12vw;
            }
            .revsbech {
                font-size: 7vw;
            }
    
        }
        hr {
            margin-top: 0;
        }
        .slogan {
            color: $pink;
            font-weight: 600;
        }
        div {
            text-align: right;
        }
    }
}

a {
    color: $purple;
}
.container-fluid .row .editable {

    .WordSection1 {
        color: $darkpurple !important;
        font-family: $page-font !important;
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            color: $darkpurple !important;
            font-family: $page-font !important;
        }
    }
    h1, h2, h3 {

        color: $darkpurple !important;
        font-family: $page-font !important;
        font-weight: 900;

    }
}

.purple {
    .social-icons {
        justify-content: center;
        .col-sm-1 {
            margin: 0 10px;
        }
    }
    .icon-title {
        font-size: 12px;
    }
    .fab, .fas {
        font-size: 2.6em;
    }
    width: 100%;
    background-color: $purple;
    color: $orange;
    text-align: center;
    &.subheader {
        overflow: hidden;
        padding: 69px 0;
        clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 78%);
        height: 210px;
        position: absolute;
        top: 38vw;
        @media only screen and (max-width: 662px) {
            top: 55vw;
        }
    }

}

.row {
    padding: 0 30px;
    .col {
        padding: 0;
        //margin-bottom: 30px;
    }
}


.cards {
    .card {
        margin: auto;
        max-width: 100%;
        height: 100%;
        img {
            height: 50%;
        }
    }
    .col {
        margin-bottom: 15px;
    }
    .row {
        min-height: 350px;
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
        @media only screen and (max-width: 662px) {
            clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%);
        }
    }
}
.myrow {
    background-color: white;
    padding: 30px !important;
    //padding: 30px !important;
}

footer {

    margin-bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    
  }